NODE_ENV = local
NPM_TOKEN=test
SERVER_HTTP_HOST = 'localhost'
SERVER_HTTP_PORT = 3190

# DB Configuration
DB_DIALECT=postgres

DB_HOST=mimojodevdb01.postgres.database.azure.com
DB_USERNAME=psgadmin
DB_PASSWORD=test

#DB_STAGE
# DB_HOST=mimojostgdb01.postgres.database.azure.com
# DB_USERNAME=pgadmin
# DB_PASSWORD=test
#DB_STAGE_ENDS

#DB_LOCAL
# DB_HOST=localhost
# DB_USERNAME=postgres
# DB_PASSWORD=admin
#DB_LOCAL_ENDS

DB_PORT=5432
DB_DATABASE=mimojo-consumer-identity-service-qnb
DB_AUTO_LOAD_MODELS=true
DB_SYNC=true
DB_FORCE=false
DB_POOL_MIN=100
DB_POOL_MAX=1000
DB_LOGGING=false
DB_UNDERSCORED=true
DB_SSL=false

# KAFKA Config
KAFKA_PRODUCER_BROKERS= '172.23.20.12:9092,172.23.20.13:9092,172.23.20.14:9092'
KAFKA_CONSUMER_BROKERS= '172.23.20.12:9092,172.23.20.13:9092,172.23.20.14:9092'
KAFKA_ALLOW_AUTO_TOPIC_CREATION= true
KAFKA_AUTO_COMMIT= true
KAFKA_FROM_BEGINING= true
KAFKA_CLIENT_ID='consumer-identity-service-qnb-stg'
KAFKA_AUDIT_LOG_TOPIC = 'audit-log-stg'

IS_SWAGGER_ENABLED = true
GRAVITEE_ENDPOINT = ''

QNB_PROFILE_ID = ''
CORE_SERVICE_URL = ''
